:root {
  --first-title-color: #212121;
  --second-title-color: #ffffff;
  --bg-color: #ffffff;
  --text-color: #757575;
  --accent-color: #2196f3;
  --first-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --hero-bg-color: #2f303a;
  --footer-bg-color: #2f303a;
  --duration-ms: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--first-font);
  color: var(--first-title-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
  transition: color var(--duration-ms) var(--timing-function);
}
.logo:hover, .logo:focus {
  color: var(--accent-color);
}
.logo--color-accent {
  color: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  min-width: 200px;
  border-radius: 4px;
  border: none;
  display: inline-block;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  background-color: var(--accent-color);
  transition: background-color var(--duration-ms) var(--timing-function);
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header > .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  margin-right: 93px;
}

.logo--color-dark {
  color: #000000;
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--duration-ms) var(--timing-function);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  display: block;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.connection {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.connection__item:not(:last-child) {
  margin-right: 50px;
}

.connection__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--duration-ms) var(--timing-function);
}
.connection__link:hover, .connection__link:focus {
  color: var(--accent-color);
}

.connection__icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill var(--duration-ms) var(--timing-function);
}
.connection__link:hover .connection__icon, .connection__link:focus .connection__icon {
  fill: #2196f3;
}

.projects {
  background-color: var(--bg-color);
}

.projects-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.projects-buttons__btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  transition: color var(--duration-ms) var(--timing-function), background-color var(--duration-ms) var(--timing-function), box-shadow var(--duration-ms) var(--timing-function);
}
.projects-buttons__btn:hover, .projects-buttons__btn:focus {
  background-color: var(--accent-color);
  color: var(--second-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: 33.3333333333%;
}

.projects-list__link {
  display: block;
  transition: box-shadow var(--duration-ms) var(--timing-function);
}
.projects-list__link:hover, .projects-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__wrap {
  position: relative;
  overflow: hidden;
}

.projects-list__over {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--duration-ms) var(--timing-function);
  overflow: auto;
}
.projects-list__part:hover .projects-list__over, .projects-list__part:focus .projects-list__over {
  transform: translateY(0%);
}

.projects-list__border {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.projects-list__subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
}

.logo--color-white {
  color: var(--second-title-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  transition: color var(--duration-ms) var(--timing-function);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration-ms) var(--timing-function);
}
.address__contacts-link:hover, .address__contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link--shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.socials {
  margin-left: 70px;
}

.socials__heading {
  margin-bottom: 20px;
}

.soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration-ms) var(--timing-function);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--accent-color);
}

.mailing {
  margin-left: 93px;
}

.mailing__heading {
  margin-bottom: 20px;
}

.mailing-form {
  display: flex;
}

.mailing-form__text {
  min-width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  resize: none;
  outline: none;
  background-color: transparent;
  color: var(--second-title-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.mailing-form__text::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-form__btn {
  padding-left: 28px;
  display: flex;
  align-items: center;
}

.mailing-form__icon {
  margin-left: 10px;
  fill: var(--bg-color);
}/*# sourceMappingURL=portfolio.css.map */