.client__title {
	margin-bottom: 50px;
}

.client-list {
	display: flex;
	gap: 30px;
}

.client-list__link {
	width: 170px;
	height: 92px;

	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid #afb1b8;
	border-radius: 4px;

	fill: #afb1b8;

	transition: fill var(--duration-ms) var(--timing-function), border-color var(--duration-ms) var(--timing-function);

	&:hover,
	&:focus {
		border-color: var(--accent-color);
		fill: var(--accent-color);
	}
}
