.client__title {
	margin-bottom: 30px;
	@include desktop {
		margin-bottom: 50px;
	}
}

.client-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	@include desktop {
		flex-wrap: nowrap;
	}
}

.client-list__item {
	width: calc((100% - 30px) / 2);

	@include tablet {
		width: calc((100% - 60px) / 3);
	}

	@include desktop {
		width: calc((100% - 140px) / 6);
	}
}

.client-list__link {
	width: 100%;
	height: 92px;

	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid #afb1b8;
	border-radius: 4px;

	fill: #afb1b8;

	transition: fill var(--duration-ms) var(--timing-function), border-color var(--duration-ms) var(--timing-function);

	&:hover,
	&:focus {
		border-color: var(--accent-color);
		fill: var(--accent-color);
	}
}
