.header {
	padding-top: 10px;
	padding-bottom: 10px;
	@include tablet {
		padding-top: 21px;
		padding-bottom: 21px;
	}
	@include desktop {
		padding-top: 24px;
		padding-bottom: 25px;
	}

	border-bottom: 1px solid #ececec;
	> .container {
		display: flex;
		align-items: center;
	}
}

.navigation {
	display: none;
	align-items: center;
	@include tablet {
		display: flex;
	}
	@include desktop {
		display: flex;
	}
}

.navigation__list {
	@include tablet {
		display: flex;
		margin-right: 84px;
	}
	@include desktop {
		display: flex;
	}
}

.header__logo {
	@include tablet {
		margin-right: 88px;
	}
	@include desktop {
		margin-right: 93px;
	}
}

.logo--color-dark {
	color: #000000;
}

.navigation__item:not(:last-child) {
	margin-right: 50px;
}

.navigation__link {
	padding: 32px 0;

	@include font(500, 14px, 1.14, null, 0.02em);

	transition: color var(--duration-ms) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.current {
	position: relative;

	color: var(--accent-color);

	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 4px;

		left: 0;
		bottom: -1px;
		@include tablet {
			bottom: -2px;
		}
		display: block;
		border-radius: 2px;

		background-color: var(--accent-color);
	}
}
