:root {
	--first-title-color: #212121;
	--second-title-color: #ffffff;
	--bg-color: #ffffff;
	--text-color: #757575;
	--accent-color: #2196f3;
	--first-font: "Roboto", sans-serif;
	--second-font: "Raleway", sans-serif;
	--hero-bg-color: #2f303a;
	--footer-bg-color: #2f303a;
	--duration-ms: 250ms;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
